[submodule "Active-Directory-Exploitation-Cheat-Sheet"]
	path = Active-Directory-Exploitation-Cheat-Sheet
	url = https://github.com/Integration-IT/Active-Directory-Exploitation-Cheat-Sheet
[submodule "Active-Directory-Exploitation-Cheat-Sheet2"]
	path = Active-Directory-Exploitation-Cheat-Sheet2
	url = https://github.com/S1ckB0y1337/Active-Directory-Exploitation-Cheat-Sheet
[submodule "Active-Directory-Cheat-Sheet3"]
	path = Active-Directory-Cheat-Sheet3
	url = https://github.com/OriolOriolOriol/Active-Directory-Cheat-Sheet
[submodule "Awesome-cheatsheets"]
	path = Awesome-cheatsheets
	url = https://github.com/LeCoupa/awesome-cheatsheets
[submodule "Awesome-cicd-security"]
	path = Awesome-cicd-security
	url = https://github.com/myugan/awesome-cicd-security
[submodule "Awesome-cloud-security"]
	path = Awesome-cloud-security
	url = https://github.com/4ndersonLin/awesome-cloud-security
[submodule "Awesome-cybersecurity-blueteam"]
	path = Awesome-cybersecurity-blueteam
	url = https://github.com/fabacab/awesome-cybersecurity-blueteam
[submodule "Awesome-guidelines"]
	path = Awesome-guidelines
	url = https://github.com/Kristories/awesome-guidelines
[submodule "Awesome-hacker-search-engines"]
	path = Awesome-hacker-search-engines
	url = https://github.com/edoardottt/awesome-hacker-search-engines
[submodule "Awesome-Hacking"]
	path = Awesome-Hacking
	url = https://github.com/Hack-with-Github/Awesome-Hacking
[submodule "Awesome-Hacking-Resources"]
	path = Awesome-Hacking-Resources
	url = https://github.com/vitalysim/Awesome-Hacking-Resources
[submodule "Awesome-ideation-tools"]
	path = Awesome-ideation-tools
	url = https://github.com/zazaalaza/awesome-ideation-tools
[submodule "Awesome-mobile-security"]
	path = Awesome-mobile-security
	url = https://github.com/vaib25vicky/awesome-mobile-security
[submodule "Awesome-osint"]
	path = Awesome-osint
	url = https://github.com/jivoi/awesome-osint
[submodule "Awesome-pastebin"]
	path = Awesome-pastebin
	url = https://github.com/lorien/awesome-pastebin
[submodule "Awesome-pentest"]
	path = Awesome-pentest
	url = https://github.com/enaqx/awesome-pentest
[submodule "Awesome-pentest-cheat-sheets"]
	path = Awesome-pentest-cheat-sheets
	url = https://github.com/coreb1t/awesome-pentest-cheat-sheets
[submodule "Awesome-privilege-escalation"]
	path = Awesome-privilege-escalation
	url = https://github.com/m0nad/awesome-privilege-escalation
[submodule "Awesome-RCE-techniques"]
	path = Awesome-RCE-techniques
	url = https://github.com/p0dalirius/Awesome-RCE-techniques
[submodule "Awesome-RedTeam-Cheatsheet"]
	path = Awesome-RedTeam-Cheatsheet
	url = https://github.com/RistBS/Awesome-RedTeam-Cheatsheet
[submodule "Awesome-security"]
	path = Awesome-security
	url = https://github.com/sbilly/awesome-security
[submodule "Awesome-threat-detection"]
	path = Awesome-threat-detection
	url = https://github.com/0x4D31/awesome-threat-detection
[submodule "Bash-Oneliner"]
	path = Bash-Oneliner
	url = https://github.com/onceupon/Bash-Oneliner
[submodule "Big-list-of-naughty-strings"]
	path = Big-list-of-naughty-strings
	url = https://github.com/minimaxir/big-list-of-naughty-strings
[submodule "BlackHatPowershell"]
	path = BlackHatPowershell
	url = https://github.com/offport/BlackHatPowershell
[submodule "Blue-team"]
	path = Blue-team
	url = https://github.com/irblueteam/blue-team
[submodule "BlueTeamCheatSheet_ChrisDavis"]
	path = BlueTeamCheatSheet_ChrisDavis
	url = https://github.com/gerryguy311/BlueTeamCheatSheet_ChrisDavis
[submodule "Blue-Team-Notes"]
	path = Blue-Team-Notes
	url = https://github.com/Purp1eW0lf/Blue-Team-Notes
[submodule "BlueTeam-Tools"]
	path = BlueTeam-Tools
	url = https://github.com/A-poc/BlueTeam-Tools
[submodule "Blue-team-wiki"]
	path = Blue-team-wiki
	url = https://github.com/sans-blue-team/blue-team-wiki
[submodule "Cheatsheets"]
	path = Cheatsheets
	url = https://github.com/cheat/cheatsheets
[submodule "Cheat.sh"]
	path = Cheat.sh
	url = https://github.com/chubin/cheat.sh
[submodule "Chsheets"]
	path = Chsheets
	url = https://github.com/OfWolfAndMan/chsheets
[submodule "Cheat-sheets"]
	path = Cheat-sheets
	url = https://github.com/0xn3va/cheat-sheets
[submodule "CheatSheetSeries"]
	path = CheatSheetSeries
	url = https://github.com/OWASP/CheatSheetSeries
[submodule "CobaltStrike_RedTeam_CheatSheet"]
	path = CobaltStrike_RedTeam_CheatSheet
	url = https://github.com/wsummerhill/CobaltStrike_RedTeam_CheatSheet
[submodule "Command-injection-payload-list"]
	path = Command-injection-payload-list
	url = https://github.com/payloadbox/command-injection-payload-list
[submodule "DefaultCreds-cheat-sheet"]
	path = DefaultCreds-cheat-sheet
	url = https://github.com/ihebski/DefaultCreds-cheat-sheet
[submodule "Dorks-collections-list"]
	path = Dorks-collections-list
	url = https://github.com/cipher387/Dorks-collections-list
[submodule "HackAllTheThings"]
	path = HackAllTheThings
	url = https://github.com/akenofu/HackAllTheThings
[submodule "Hacking_Tools_Cheat_Sheet"]
	path = Hacking_Tools_Cheat_Sheet
	url = https://github.com/CompassSecurity/Hacking_Tools_Cheat_Sheet
[submodule "Hacktricks"]
	path = Hacktricks
	url = https://github.com/carlospolop/hacktricks
[submodule "Huge-Collection-of-CheatSheet"]
	path = Huge-Collection-of-CheatSheet
	url = https://github.com/JonnyBanana/Huge-Collection-of-CheatSheet
[submodule "Investigations"]
	path = Investigations
	url = https://github.com/tarahmarie/investigations
[submodule "Ios-penetration-testing-cheat-sheet"]
	path = Ios-penetration-testing-cheat-sheet
	url = https://github.com/ivan-sincek/ios-penetration-testing-cheat-sheet
[submodule "Irredteam.github.io"]
	path = Irredteam.github.io
	url = https://github.com/irredteam/irredteam.github.io
[submodule "JustBreakIn"]
	path = JustBreakIn
	url = https://github.com/sinfulz/JustBreakIn
[submodule "JustEvadeBro"]
	path = JustEvadeBro
	url = https://github.com/sinfulz/JustEvadeBro
[submodule "JustGetDA"]
	path = JustGetDA
	url = https://github.com/sinfulz/JustGetDA
[submodule "JustTryHarder"]
	path = JustTryHarder
	url = https://github.com/sinfulz/JustTryHarder
[submodule "NodeJS-Red-Team-Cheat-Sheet"]
	path = NodeJS-Red-Team-Cheat-Sheet
	url = https://github.com/aadityapurani/NodeJS-Red-Team-Cheat-Sheet
[submodule "Offensive-Pentesting-Host"]
	path = Offensive-Pentesting-Host
	url = https://github.com/InfoSecWarrior/Offensive-Pentesting-Host
[submodule "Offensive-Reverse-Shell-Cheat-Sheet"]
	path = Offensive-Reverse-Shell-Cheat-Sheet
	url = https://github.com/d4t4s3c/Offensive-Reverse-Shell-Cheat-Sheet
[submodule "OSCP"]
	path = OSCP
	url = https://github.com/0xsyr0/OSCP
[submodule "PayloadsAllTheThings"]
	path = PayloadsAllTheThings
	url = https://github.com/swisskyrepo/PayloadsAllTheThings
[submodule "Redsheet"]
	path = Redsheet
	url = https://github.com/expl0itabl3/Redsheet
[submodule "RedTeaming_CheatSheet"]
	path = RedTeaming_CheatSheet
	url = https://github.com/0xJs/RedTeaming_CheatSheet
[submodule "Red-Team-Infrastructure-Wiki"]
	path = Red-Team-Infrastructure-Wiki
	url = https://github.com/bluscreenofjeff/Red-Team-Infrastructure-Wiki
[submodule "RedTeamMemory"]
	path = RedTeamMemory
	url = https://github.com/chrismaddalena/RedTeamMemory
[submodule "RedTeaming-Tactics-and-Techniques"]
	path = RedTeaming-Tactics-and-Techniques
	url = https://github.com/mantvydasb/RedTeaming-Tactics-and-Techniques
[submodule "RedTeam-Tools"]
	path = RedTeam-Tools
	url = https://github.com/A-poc/RedTeam-Tools
[submodule "RTFM"]
	path = RTFM
	url = https://github.com/droberson/rtfm
[submodule "SecLists"]
	path = SecLists
	url = https://github.com/danielmiessler/SecLists
[submodule "SysmonCommunityGuide"]
	path = SysmonCommunityGuide
	url = https://github.com/trustedsec/SysmonCommunityGuide
[submodule "Terminal-adventures"]
	path = Terminal-adventures
	url = https://github.com/jamesengleback/terminal-adventures
[submodule "Thc-tips-tricks-hacks-cheat-sheet"]
	path = Thc-tips-tricks-hacks-cheat-sheet
	url = https://github.com/hackerschoice/thc-tips-tricks-hacks-cheat-sheet
[submodule "The-book-of-secret-knowledge"]
	path = The-book-of-secret-knowledge
	url = https://github.com/trimstray/the-book-of-secret-knowledge
[submodule "Web-Attack-Cheat-Sheet"]
	path = Web-Attack-Cheat-Sheet
	url = https://github.com/riramar/Web-Attack-Cheat-Sheet
[submodule "Win32_Offensive_Cheatsheet"]
	path = Win32_Offensive_Cheatsheet
	url = https://github.com/matthieu-hackwitharts/Win32_Offensive_Cheatsheet
[submodule "Windows-Red-Team-Cheat-Sheet"]
	path = Windows-Red-Team-Cheat-Sheet
	url = https://github.com/morph3/Windows-Red-Team-Cheat-Sheet
[submodule "Windows_reg"]
	path = Windows_reg
	url = https://github.com/jmau111-org/windows_reg
